.header {
    background: #333; /* Dark background for contrast */
    color: #fff;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    animation: backgroundAnimation 5s infinite;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-item img{
    width:100%;
    height: 50%;
    margin: 0 auto;
    padding: 1rem;
}

/* .title-link {
    text-decoration: none;
    color: #fff;
} */

/* .title-link h1 {
    margin: 0;
    font-size: 1.5rem;
} */

/* nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
} */

/* nav ul li {
    margin-left: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
} */
/* 
nav ul li a:hover {
    color: #00aced; /* Example hover color */
/* }

@keyframes backgroundAnimation {
    0% { background-color: #000; }
    50% { background-color: #444; }
    100% { background-color: #000; }
}  */